{% extends 'blog/base.html' %}
{% block content %}
<!--МЕНЮ-->

   <div class="container">

      <!-- Static navbar-->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">


                 {% for post in posts %}
                <li><a href="{% url 'subject_detail' pk=3 %}">{{ post.subject }}</a></li>
                {% endfor %}


            </ul>

          </div><!--/.nav-collapse-->
        </div><!--/.container-fluid-->
      </div>




    </div> <!-- /container -->
    <!--КОНЕЦ_МЕНЮ-->




{% block menu%}
{% endblock %}
{% endblock %}