{% extends 'blog/base.html' %}
{% block title%} Привет{% endblock %}
{% block description%} Это блог будет о том то {% endblock %}
{% block header %}{% endblock %}

{% block menu%} {% endblock %}
{% block page%}
    <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-dark"  href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Темы</li>
            </ol>
    </nav>

    {% for post in subject %}
            <p><a class="text-dark" href="{{ post.get_absolute_url }}" > {{ post}}</a></p>

                <ul>
                {% for post in post.resul.all %}
                   <li><a class="text-dark" href="{{ post.get_absolute_url }}">{{ post.title}}</a> </li>
                 {% endfor %}
                 </ul>

      {% endfor %}

{% endblock %}
{% block footer%} {% endblock %}